Problem Statement
Find and print the minimum, maximum and average value of the feature for each kind of flower ?
Note: Get the dataset from here
Print the value with two decimal places.
Note: Order for flower is Iris-setosa, Iris-versicolor and Iris-virginica.
Output Format
minSL minSW minPL minPW Iris-setosa
maxSL maxSW maxPL maxPW Iris-setosa
avgSL avgSW avgPL avgPW Iris-setosa
. . .
. . .

In [99]:
import pandas as pd

iris = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")

iris_copy = iris.copy()
Setosa = iris_copy[iris_copy["variety"] == "Setosa"]
W = iris_copy[iris_copy.variety == "Versicolor"]
V = iris_copy[iris_copy.variety == "Virginica"]
print('%.2f' %Setosa["sepal.length"].min(),'%.2f' % Setosa["sepal.width"].min(),'%.2f' % Setosa["petal.length"].min(), '%.2f' %Setosa["petal.width"].min(), "Iris-setosa")
print('%.2f' %Setosa["sepal.length"].max(), '%.2f' %Setosa["sepal.width"].max(), '%.2f' %Setosa["petal.length"].max(), '%.2f' %Setosa["petal.width"].max(), "Iris-setosa")
print('%.2f' % Setosa["sepal.length"].mean(), '%.2f' %  Setosa["sepal.width"].mean(), '%.2f' % Setosa["petal.length"].mean(), '%.2f' % Setosa["petal.width"].mean(), "Iris-setosa")

print('%.2f' %W["sepal.length"].min(), '%.2f' %W["sepal.width"].min(),'%.2f' % W["petal.length"].min(),'%.2f' % W["petal.width"].min(), "Iris-versicolor")
print('%.2f' %W["sepal.length"].max(), '%.2f' %W["sepal.width"].max(),'%.2f' % W["petal.length"].max(),'%.2f' % W["petal.width"].max(), "Iris-versicolor")
print('%.2f' % W["sepal.length"].mean(), '%.2f' %  W["sepal.width"].mean(), '%.2f' % W["petal.length"].mean(), '%.2f' % W["petal.width"].mean(), "Iris-versicolor")

print('%.2f' %V["sepal.length"].min(),'%.2f' % V["sepal.width"].min(),'%.2f' % V["petal.length"].min(),'%.2f' % V["petal.width"].min(), "Iris-virginica")
print('%.2f' %V["sepal.length"].max(),'%.2f' % V["sepal.width"].max(),'%.2f' % V["petal.length"].max(), '%.2f' %V["petal.width"].max(), "Iris-virginica")
print('%.2f' % V["sepal.length"].mean(), '%.2f' %  V["sepal.width"].mean(), '%.2f' % V["petal.length"].mean(), '%.2f' % V["petal.width"].mean(), "Iris-virginica")

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.01 3.43 1.46 0.25 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

In [50]:
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

Given file "terrorismData.csv"
It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

Problem Statement :
The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?
Print count of number of attacks in that city as integer value.

Note:Ignoring the Unknown Terrorist Group.Here Dangerous related with the number of terrorist attacks.
Output Format :
City NumberOfAttack Group

In [78]:
import pandas as pd

td = pd.read_csv('terrorismData.csv', encoding='utf8')
df = td.copy()

df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [54]:
import pandas as pd

td = pd.read_csv('terrorismData.csv', encoding='utf8')
df = td.copy()

df = df[df["State"] == "Jammu and Kashmir"]
city = df["City"].value_counts()
cityname = city.index[0]
numAttacks = city.values[0]
group = df[df["City"] == cityname]
groupname = group["Group"].value_counts().index[1]

print(cityname, numAttacks, groupname)

Srinagar 657 Muslim Separatists

Find out the Country with Highest Number of Terror Attack and in which year the most number of terrorist attack happened in that country ?
Print count of terror attacks as integer value.
Output Format :
Country NumberOfAttack Year

In [75]:
import pandas as pd

td = pd.read_csv('terrorismData.csv', encoding='utf8')
df = td.copy()

country = df["Country"].value_counts()
year = df[df["Country"] == country.index[0]]
year = year["Year"].value_counts().index[0]
print(country.index[0], country.values[0], year)

Iraq 24636 2014

Problem Statement :
Most Deadliest attack in a history of HumanKind?
Print count of Killed people as integer value.
Note: Here Deadliest attack means, in which the most number of people killed.
Output Format :
NumberOfPeopleKilled Country TerroristGroup

In [93]:
import pandas as pd

td = pd.read_csv('terrorismData.csv', encoding='utf8')
df = td.copy()

Killed = df["Killed"]
Killed.fillna(0, inplace = True)
ind = Killed.idxmax()
print(int(Killed[ind]), df.Country.values[ind], df.Group.values[ind])

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

Problem Statement :
There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-
1. Total number of attacks done in this period in India. Find this count as integer.
2. Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of attacks. 
3.Ignore the Unknown group. 
Output Format :
TotalAttacks MostActiveTerroristGroup

In [122]:
df = td.copy()
a = df[df.Day >= 26]
b=a[a.Year == 2014]
c=b[b.Country=='India']
ans1=c[c.Month==5]
del a
del b
del c
a=df[df.Year==2014]
b=a[a.Country=='India']
ans2=b[b.Month>5]
del a
del b
a=df[df.Country=='India']
ans3=a[a.Year>2014]
count=ans1.shape[0]+ans2.shape[0]+ans3.shape[0]
print(count, end=' ')
ans1=ans1[ans1.Group!='Unknown']
ans2=ans2[ans2.Group!='Unknown']
ans3=ans3[ans3.Group!='Unknown']
print(ans3.Group.describe().top)

3336 Maoists

Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir. Here Frequency is (Total Casualty/Total Number of a year)
Print frequency as integer value.
Note:Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. Here Casualty=Killed +Wounded. Don't fill the nan value present in Killed and Wounded feature.

Output Format :
Frequency1 Frequency2

In [128]:
import numpy as np
import pandas as pd

td = pd.read_csv('terrorismData.csv', encoding='utf8')
df = td.copy()

df_terrorism=td.copy()
year=len(set(df_terrorism['Year']))
print(set(df_terrorism['Year']))

df_terrorism=df_terrorism[df_terrorism['Country']=='India']
df_terrorism['Casualty']=df_terrorism['Killed']+df_terrorism['Wounded']

Jammu_state=df_terrorism[df_terrorism['State']=='Jammu and Kashmir']
red_state=df_terrorism[(df_terrorism['State']=='Jharkhand')|(df_terrorism['State']=='Odisha')
                       |(df_terrorism['State']=='Andhra Pradesh')|(df_terrorism['State']=='Chhattisgarh')]

red_casualty=int(np.sum(red_state['Casualty']))

Jammu_casualty=int(np.sum(Jammu_state['Casualty']))

print(red_casualty//year,Jammu_casualty//year)

{1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017}
115 261